@import url(http://fonts.googleapis.com/css?family=Michroma);

* {
  margin: 20px;
  padding: 0px;
}

html {
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header, section, footer, aside, nav, article, figure, figcaption, hgroup {
  display: block;
}

body {
    color: #fcfcfc;
    font: 12pt helvetica, arial, sans serif;
    text-align: center;
}

a { color: #9cf; text-decoration: none; }
a:link { color: #9cf; }
a:hover { color: #ffffff; text-decoration: underline; }

dt { color: #fff; font-size: 140% }
dd { color: #ccc; font-size: 110% }

td { font-size: 80%; padding: 4 4 4 4 }

#main_header {
  background: #fffbb9;
  border: 1px #999;
  padding: 20px;
}
#main_menu {
  padding: 5px 15px;
  text-align: right;
}

#main_menu li {
  display: inline-block;;
  list-style: none;
  padding: 5px;
  font: 14px verdana, sans-serif;
}

#main_section {
  float: left;
}

#main_footer {
  clear: both;
  text-align: center;
  padding: 20px;
  border-top: 2px solid #999999;
}

#logotext {
  display: block;
  position: relative;
  /*top: 100;*/
  width: 400px;
  margin-top: 100px;
  /* margin: 50px auto; */
  padding: 15px;
  /* float: left; */

  font: bold 4em 'Michroma', sans-serif;
  color: rgba(150, 150, 150, 0.7);

  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);  
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  
  border: 1px solid red;

}

#insideimage {
  float: left;
  /* background-image: url('images/salon.jpg');
  background-repeat: no-repeat; */
  position: absolute;
  /* top: -240px; */
        /* right: 130px; */
  left: 400px;
  /*
        width: 400px;
        height: 360px; 
        */
        /* border: 1px solid #ccc; */
}

#wrapper {
  /* width: 960px; */
  margin: 15px auto;
  text-align: left;
}

#content {
  margin-top: 10px;
  padding-bottom: 10px;
}

#content div {
  padding: 10px;
  float: left;
  /* border: 1px solid #c0c; */
}

#content-left {
  width: 316px;
}

#content-main {
  margin-left: 10px;
    width: 500px;
}

#content-right {
  margin-left: 10px;
    width: 134px;
}

#logobox {
        background-image: url('images/logo-21knots5.jpg');
        background-repeat: no-repeat;
        /* position: relative;
        top: 10px;
        left: 10px;
        */
        width: 316;
        height: 182;
}

#infobox {
        position: relative;
        top: 200px;
        /* border: 1px solid #ccc; */
}

#adsense {
        position: relative;
        top: 10px;
        text-align: right;
}


#stylists {
        /* position: absolute; */
        position: relative;
        top: -280px;
        /* right: 130px; */
        left: 420px; 
        width: 400px;
        height: 360px; 
        /* border: 1px solid #ccc; */
}


#salondescription {
  text-align: justify;
  position: relative;
  top: 260px;
  left: -20px;
  width: 425px;
  font-size: 120%;
  color: #9cf;
  background-color: #333;
  filter:alpha(opacity=75);
  -moz-opacity:0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

#staff {
  text-align: justify;
  position: relative;
  background-color: #333;
  top: 300px;
  left: 0px;
  font-size: 140%
  color: #9cf
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

#booking {
  margin-top: 10px;
  text-align: justify;
  position: relative;
  background-color: #333;
  top: 300px;
  left: 0px;
  font-size: 140%
  color: #9cf
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}



#facebook {
  text-align: justify;
  position: relative;
  background-color: #333;
  top: 200px;
  left: 0px;
  font-size: 110%
  color: #9cf
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

footer {
        position: relative;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        top: 200px;
        color: #f0f0f0;
        font-size: 85%;
        /* border: 1px solid #0c0;  */
        width: 878px;
        /* background-color: #030303;  */
}

#bottom {
        margin-top: 10px;
        position: relative;
        top: 220px;
        font-size: 60%;
}

